// Allow online acces / not used yet

bool online_acces = false;

// Fill with values from 1 to 6 and 0 if no display

const int cfg_logo_moduleair = 1;
const int cfg_logo_aircarto = 2;

// Select the screens to be displayed

bool cfg_screen_pm01 = true;
bool cfg_screen_pm25 = true;
bool cfg_screen_pm10 = true;
bool cfg_screen_co2 = true;
bool cfg_screen_cov = true;
bool cfg_screen_temp = true;
bool cfg_screen_humi = true;
bool cfg_screen_press = false;

bool cfg_screen_atmo_pm10 = true;
bool cfg_screen_atmo_pm25 = true;
bool cfg_screen_atmo_index = true;
bool cfg_screen_atmo_o3 = true;
bool cfg_screen_atmo_no2 = true;
bool cfg_screen_atmo_so2 = true;
